/* IMPORTAÇÃO DE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* CONFIG PADRÕES */

body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #000000;
    font-family: 'Lato';
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

a{
    text-decoration: none;
    margin-left: 0;
    font-size: 17px;
    color: white;
}


/* HEADER */

.header{
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo img{
    height: 80px;
    width: 80px;
    transition: 1s height, 1s width;
}

/* MAIN-1 */

.main-1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

/* MAIN-1-BOARDS */

.main-1-board-1{
    height: 300px;
    width: 400px;
}

/* MAIN-1-BUTTONS*/

.main-1-button{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.main-1 button {
    margin-top: 10px;
    color: #fffdfd;
    border-radius: 10px;
    height: 42px;
    width: 130px;
    background-color: #282828;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: #959da533 0px 8px 24px;
    transition: background-color 1s, color 1s, box-shadow 1s;

}

.main-1 button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #00000051 0px 8px 24px;
}


@media screen and (max-width: 950px) {
    .img-board-1 img{
        display: none;
    }

    .main-1, .main-1-board-1{
        justify-content: center;
        padding: 15px;
        align-items: center;
    }

    ul{
        width: 70vw;
        justify-content: space-around;
    }
}