/* IMPORTAÇÃO DE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* CONFIG PADRÕES */

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #000000;
    font-family: 'Lato';
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    width: 30vw;
}

a{
    text-decoration: none;
    font-size: 17px;
    
    color: white;
}

button{
    margin-top: 10px;
    color: #fffdfd;
    border-radius: 10px;
    height: 42px;
    width: 130px;
    background-color: #282828;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: #959da533 0px 8px 24px;
    transition: background-color 1s, color 1s, box-shadow 1s;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: #00000051 0px 8px 24px;
}


/* HEADER */

.header{
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

@media screen and (max-width: 1000px) {
    
    ul{
        width: 70vw;
        justify-content: space-around;
    }
    
}

